.four.columns{
  text-align: center;
  border-style: solid;
  border-width: thin;
}

.twelve.columns{
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: thin;
  text-align: center;
}

.two.columns{
  margin: 10px;
  border-style: solid;
  border-width: thin;
  text-align: center;
}

.four.columns{
  margin: 10px;
  border-style: solid;
  border-width: thin;
  text-align: left;
}

.container{
  border: 1px solid black;
}

footer{
  clear: both;
  width: 80%;
  margin: 0 auto;
  padding: .3vw;
  margin-bottom: 1vw;
  text-align: center;
  flex-direction: column;
  /*border: 3px solid black;*/
}

footer h8{
  display: block;
  margin: .1vw;
  font-size: 9pt;
}

footer p{
  font-style: italic;
  margin-bottom: 1vw;
}
