.two.columns{
  margin: 10px;
  border-style: solid;
  border-width: thin;
  text-align: center;
}

.three.columns button{
  width: 80px;
  display: inline;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
  font-size: 7pt;
}

.three.columns a{
  text-decoration: none;
}

.four.columns{
  margin: 10px;
  border-style: solid;
  border-width: thin;
  text-align: left;
}

.nine.columns{
  text-align: left;
}

.twelve.columns{
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: thin;
  text-align: center;
}

.container{
  border: 1px solid black;
}

footer{
  clear: both;
  width: 80%;
  margin: 0 auto;
  padding: .3vw;
  margin-bottom: 1vw;
  text-align: center;
  flex-direction: column;
  /*border: 3px solid black;*/
}

footer h8{
  display: block;
  margin: .1vw;
  font-size: 9pt;
}

footer p{
  font-style: italic;
  margin-bottom: 1vw;
}

section{
  margin:.3vw;
}
