.chart{

}

.four.columns{
  text-align: center;
  border-style: solid;
  border-width: thin;
}

.twelve.columns{
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: thin;
  text-align: center;
  vertical-align: middle;
}

.charts{
  margin: 0 auto;
  width: 200%;
  max-height: 50%;
}

h4{
  margin-left: 1.5vw;
  margin-right: 1vw;
  display: inline;
  font-size: 1.2vw;
}
