h3{
  text-align: center;
}

h4{
  text-align: center;
}

.divBorder{
  border: 2px solid black;
  margin-bottom: 5%;
  margin-bottom: 5%;
  height: 50%;
}
/*
ul{
  list-style: none;
  padding-left: 5%;
}

 li{
   text-align: center;
 }*/

 .four.columns{
   text-align: center;
   border-style: solid;
   border-width: thin;
   height: 500px;
 }

 .twelve.columns{
   margin-top: 10px;
   margin-bottom: 10px;
   border-style: solid;
   border-width: thin;
   text-align: center;
   vertical-align: middle;
 }

 .charts{
   margin: 0 auto;
   width: 200%;
   max-height: 50%;
 }

 h4{
   margin-left: 1.5vw;
   margin-right: 1vw;
   display: inline;
   font-size: 1.2vw;
 }

 footer{
   clear: both;
   width: 80%;
   margin: 0 auto;
   padding: .3vw;
   margin-bottom: 1vw;
   text-align: center;
   flex-direction: column;
   /*border: 3px solid black;*/
 }

 footer h8{
   display: block;
   margin: .1vw;
   font-size: 9pt;
 }

 footer p{
   font-style: italic;
   margin-bottom: 1vw;
 }
