body{
  background-color: #f1f1f1;
}

h3, h4, h5{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

h3, h5{
  font-weight: 400;
}

p{
  font-family: 'Quattrocento', serif;
}

h5{
  padding-left: 10%;
  padding-right: 10%;
  color: #545454;
  font-family: Quattrocento;
}

h7{
  font-size: 9pt;
  color: #545454;
  font-family: Quattrocento;
}

.divBorder{
  /*border: 2px solid black;*/
  margin-bottom: 5%;
  margin-bottom: 5%;
  height: 50%;
  /*border-radius: 10px;*/
}

.divBorder input{
  margin-left: .8vw;
  margin-right: .8vw;
}

.three.columns button{
  width: 80px;
  display: inline;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
  font-size: 7pt;
}

.three.columns a{
  text-decoration: none;
}

 .four.columns{
   text-align: center;
   border-style: solid;
   border-width: thin;
   border-radius: 10px;
   height: 500px;
 }

 .nine.columns{
   text-align: left;
 }

 .charts{
   margin: 0 auto;
   width: 200%;
   max-height: 50%;
 }

 h4{
   margin-left: 1.5vw;
   margin-right: 1vw;
   display: inline;
   font-size: 1.2vw;
 }

 footer{
   clear: both;
   width: 80%;
   margin: 0 auto;
   padding: .3vw;
   margin-bottom: 1vw;
   margin-top: 1.8vw;
   text-align: center;
   flex-direction: column;
   /*border: 3px solid black;*/
 }

 footer h8{
   display: block;
   margin: .1vw;
   font-size: 10pt;
 }

 footer p{
   font-style: italic;
   margin-bottom: 1vw;
 }

 footer a{
   display: block;
   font-size: 9pt;
 }

 .footerHr{
   margin-bottom: 5px;
 }
