#animate-container {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin: 75%
    width: 100%;
  }
}

.patient1 {
  height: 120px;
  object-fit: scale-down;
}

.patient-picture {
  width: 260px;
  object-fit: scale-down;
}

img {
  transform: rotate3d(1,1,1,360deg) scale(0.75) translateY(-25px);
}

#footerOne {
  display: flex;
  align-content: space-around;
  flex-direction:column;;
  line-height: 0px;
}
footer{
  clear: both;
  width: 80%;
  margin: 0 auto;
  padding: .3vw;
  margin-bottom: 1vw;
  text-align: center;
  flex-direction: column;
  /*border: 3px solid black;*/
}

footer h8{
  display: block;
  margin: .1vw;
  font-size: 9pt;
}

footer p{
  font-style: italic;
  margin-bottom: 1vw;
}
