/*.welcome {
  margin: 0 auto;
  display: flex;
  align-content: center;
}*/

.footerRow {
  display: flex;
  align-items: flex-start;
}

.footerOne {
  width: 75%
}

.footerTwo {
  width: 25%;
}

p.copyRight {
  line-height: 0;
}
