body{
  background-color: #f1f1f1;
  display: flex;
}
div{
  display:flex;
}
header{
  margin: 0 auto;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

h1{
  text-align: center;
  margin-top: 3vh;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

h3, h4, h5{
  font-family: 'Quicksand', sans-serif;
}

h3{
  margin-top: 1em;
  text-align: left;
  font-weight: 300;
  border-bottom: 1px solid darkgray;
}

.demo{
  border-bottom: none;
}
h5{
  text-align: center;
  font-weight: 300;
}

h4{
  font-size: 24pt;
  font-weight: 400;
}


h6{
  font-size: 12pt;
  margin: 0;
  padding: 0;
  font-family: 'Quattrocento', sans-serif;

}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: #545454;
}

content{
  width: 70%;
  margin: 0 auto;
}

.goals {
  display: flex;
  justify-content: space-around;;

}
.goals-left {
  display: flex;
  flex-direction: column;
}
.goals-right {
  display: flex;
  flex-direction: column;
}
