.container{
  margin: 0 auto;
}


/*#Overlay
{
  visibility: hidden;
  position: absolute;
  left: 90px;
  top: 120px;
  width:200px;
  height:90px;
  text-align:center;
  border: solid;
}*/
html {
}

html, body, #page-wrap {
  /*padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;*/
}

#page-wrap {
  /*padding: 50px;*/
  /*background: #F06D06;*/
  /*box-shadow: 0 0 100px black;*/

  @include transition(all 0.4s ease);
  @include filter(
    blur(0)
    grayscale(0)
  );

  .dialogIsOpen & {
    @include filter(
      blur(5px)
      grayscale(50%)
    );
    @include transform(scale(0.9));
  }
}

#dialog {
  @include transition(all 0.4s ease);
  border-radius: 5px;
  pointer-events: none;
  position: fixed;
  width: 50%;
  padding: 60px;
  background: white;
  border: 2px solid black;
  /*box-shadow: 0 0 25px black;*/
  top: 25%;
  left: 25%;
  margin: 0 0 0 0%;
  opacity: 0;
  @include transform(scale(1.5));
  .dialogIsOpen & {
    pointer-events: auto;
    opacity: 1;
    @include transform(scale(1));
  }
  h2 {
    font-size: 24px;
  }
}

.dialogIsOpen #page-wrap {
  -webkit-filter: blur(5px) grayscale(50%);
  filter: blur(5px) grayscale(50%);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.dialogIsOpen #dialog {
  pointer-events: auto;
  opacity: 1;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
#dialog h2 {
  font-size: 24px;
}
/*


#modal {
  background: white;

  position: fixed;
  width: 50%;
  top: 50%;
  left: 50%;
  /*margin: -25% 0 0 -25%;*/

  /* Embiggen */
  transform: scale(1.5); /* prefix me */

  /* Hidden */
  opacity: 0;
  pointer-events: none;
}

.dialogIsOpen #page-wrap {

  /* Blur and de-color */
  -webkit-filter: blur(5px) grayscale(50%);

  /* Recede */
  -webkit-transform: scale(0.9);

}

.dialogIsOpen #modal {

  /* Regular size and visible */
  transform: scale(1); /* prefix me */
  opacity: 1;

  /* Clickable */
  pointer-events: auto;

}
#page-wrap, #modal {

  transition: all 0.4s ease; /* prefix me */

}

body {
  /* Use at your own discretion */
  -webkit-transform: translateZ(0);
}*/
